@import "../variables.scss";

header {
  box-sizing: border-box;
  text-align: center;
  padding: 15px 20px;
  z-index: 100;
  position: relative;

  h3 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 30px;
  }

  span {
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
  }
}

.home-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}
