@import "../variables.scss";

.logo {
  font-weight: 600;
  background: $gradient-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.size-24 {
  font-size: 24px;
}

.size-78 {
  font-size: 78px;
}
